.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Hero-pic{
  max-width: 250px;
  min-height: 250px;
  border-radius: 50%;
}

.App-header {
  background-color: #4267B2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.About-Me{
  background-color: #4267B2;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Tech{
  background-color: #4267B2;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}


.tech-img{
  margin-right: 120px;
  margin-top: 50px;
}

.Projects{
  background-color: #4267B2;
  min-height: 75vh;
  display: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  color: white;

}

.project-img{
  /* display:inline-block;
  padding: 10px;
  padding-left: 20px; */
  padding: 10px;
  max-width: 440px;
  margin-right: 100px;
}
.project-img2{
  display:inline-block;
  padding: 10px;
  padding-left: 30px;
  /* float: right; */
  padding: 10px;
  max-width: 440px;
  margin-left: 100px;
}

.Contact{
  background-color: #4267B2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-group{
  margin: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
